html,
body {
  height: 100%;
}
body {
  color: #191919;
  @extend %raleway-400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
}
 .main {
   flex-grow: 1;
   margin-bottom: 75px;
 }
.container {
  max-width: 1800px;
  padding: 0 15px;
  margin: 0 auto;  
}
.container-small {
  max-width: 1200px; 
  padding: 0 15px; 
  margin: 0 auto;
}
.title-box {
  margin-bottom: 75px;
}
.title {
  color: $title;
  @extend %raleway-700;
  font-size: 36px;
  text-align: center;
  margin-bottom: 35px;
}
.title__list {
  color: $default;
  @extend %raleway-700;
  display: flex;
  justify-content: center;
  gap: 30px;
  font-size: 16px;
  line-height: 24px;  
  &-item {
    &--active {
    color: $title;
    }
  }  
}

.title-top {
  color: #222933;
  @extend %mulish-400;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  margin-bottom: 10px;
}
