$title: #191919;
$default: #7b7b7b;
$accent: #01526f;


%raleway-400 {
  font-family: 'Raleway-Regular', sans-serif;
  font-weight: 400;
}
%raleway-500 {
  font-family: 'Raleway-Medium', sans-serif;
  font-weight: 500;
}
%raleway-700 {
  font-family: 'Raleway-Bold', sans-serif;
  font-weight: 700;
}


%checkbox-hidden {
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute;
}


