$title: #191919;
$default: #7b7b7b;
$accent: #01526f;

%raleway-400 {
  font-family: 'Raleway-Regular', sans-serif;
  font-weight: 400;
}
%raleway-500 {
  font-family: 'Raleway-Medium', sans-serif;
  font-weight: 500;
}
%raleway-700 {
  font-family: 'Raleway-Bold', sans-serif;
  font-weight: 700;
}

%mulish-400 {
  font-family: 'Mulish-Regular', sans-serif;
  font-weight: 400;
}
%mulish-500 {
  font-family: 'Mulish-Medium', sans-serif;
  font-weight: 500;
}
%mulish-700 {
  font-family: 'Mulish-Bold', sans-serif;
  font-weight: 700;
}



