@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'libs';
@import 'media';

.header {
  &__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
  }
}
.menu {
  &__list {
    display: flex;
  }
  &__list-item + .menu__list-item {
    margin-left: 30px;
  }
  &__list-link {
    @extend %raleway-700;
  }
}
.user-nav {
  display: flex;
  align-items: center;
  &__link {
    position: relative;
  }  
  &__link--search {
    padding: 20px;
    border-radius: 50%;
    background-color: $accent;
    display: flex;
    flex-direction: column;
  } 
  &__num {
    position: absolute;
    top: -7px;
    left: 15px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    @extend %raleway-700;
    font-size: 10px;
    line-height: 18px;
    text-align: center;
  }
  &__link-box {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    width: 175px; 
    height: 50px;
    margin-left: 20px;
    padding: 12px 40px 12px 35px;
    border-radius: 22px; 
    background-color: $accent; 
    position: relative;
  }
  &__link--line::after {
    content: '';
    position: absolute;
    top: -7px;
    left: 55px;
    width: 1px;
    height: 32px;    
    background-color: rgba(255, 255, 255, .4);
  }
  &__decor {
    padding: 15px;
    border-radius: 50%;
    margin-left: 20px;
    background-color: $accent;
  }  
}
.smart-slider {  
  &__content {
    max-width: 440px;
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-70%);    
  }
  &__title {
    @extend %mulish-700;
    font-size: 72px;
    line-height: 85px;
    margin-bottom: 30px;
  }
  &__text {
    @extend %mulish-400;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
  }
  &__link {
    width: 200px;
    display: inline-block;
    @extend %mulish-500;
    font-size: 15px;
    padding: 20px;
    background-color: $light-color;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      top: 29px;
      right: 20px;
      width: 22px;
      height: 9px;
      background-image: url('../images/arrow-slider.png');
      background-repeat: no-repeat;
    }
  }
}
.slick-dots {  
  position: absolute;
  bottom: 50px;
  left: 50%; 
  transform: translateX(-50%);
}
.slick-dots li {
 display: inline-block;
 padding: 0 5px;
}
.slick-dots button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 10px;
  color: #243f4d;
  background-color: rgba(255, 255, 255, .3);
}
.slick-active button {
  background-color: #fff;
}
.support {
  margin-bottom: 75px;
  &__inner {
    display: flex;
    justify-content: space-around;
    padding: 45px 0;
    background-color: #E7DECC;
  }
  &__item {
    max-width: 300px;
    padding-left: 80px;
    position: relative;    
  }
  .support__item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 52px;
    height: 54px;      
  }
  .support__item--support::before {
    background-image: url('../images/icons/support-1.svg');
    background-repeat: no-repeat;
  }
  .support__item--delivery::before {
    background-image: url('../images/icons/delivery.svg');
    background-repeat: no-repeat;
  }
  .support__item--payment::before {
    background-image: url('../images/icons/payment.svg');
    background-repeat: no-repeat;
  }
  &__title {
    color: $title;
    font-size: 18px;
    line-height: 32px;    
    margin-bottom: 15px;
  }  
}
.products {
  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px 30px;
  }
  &__title {
    color: $title;
    @extend %raleway-700;
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 10px;
  }
  &__price {
    color: $light-color;
    @extend %raleway-500;
    font-size: 18px;
    line-height: 22px;
  }
  &__btn {
    text-align: center;
    margin-top: 75px;
  }
  &__link {
    display: inline-block;    
    color: $accent;
    @extend %raleway-500;
    padding: 14px 27px;
    text-transform: uppercase;
    border: 1px solid $accent;
    transition: all .3s;
    &:hover {
      color: #fff;
      background-color: $accent;
    }    
  }
}
.products-item {
  display: block;
  text-align: center;
  width: 270px;
  border-radius: 10px;
  padding: 25px 40px;
  background-color: #fff;
  box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  transition: all .3s;
  position: relative;
  &:hover {
    .products-item__link-box {
      opacity: 1;
    }
  }
  &__img-box {      
    display: block;  
    height: 200px;  
    margin-bottom: 55px;
  }
  &__link-box {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;  
    transform: translateY(-50%); 
    width: 200px;
    height: 15px;   
    margin: 0 auto;
    display: flex;
    justify-content: center;  
    align-items: center; 
    gap: 25px; 
    opacity: 0;    
    transition: all .3s;
  }  
  &__link {
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 15px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid $accent;
    
    position: relative;
    transition: all .3s;    
    &:hover {
      path {
        fill: #fff;
      }
      border: none;
      background-color: $sale;
    }
  }  
  &--sale::before {
    content: 'SALE';
    position: absolute;
    top: 20px;
    left: 20px;
    color: #fff;
    @extend %raleway-700;
    font-size: 14px;
    padding: 3px 7px;
    background-color: $sale;
  }
}
.star {
  margin: 0 auto 10px;
}














.footer {
  color: #fff;
  padding: 85px 0 35px;
  background-color: $accent;
  &__top {
    border-bottom: 1px solid #dae4e9;
    padding-bottom: 70px;
  }
  &__top-inner {
    display: flex;
    justify-content: space-between;    
  }  
  .logo {
    display: block;
  }
  &__title {
    @extend %raleway-700;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  &__item-address {
    width: 220px;        
  }
  &__item-phone,
  &__item-mail {
    display: block;
    margin-bottom: 20px; 
    span {
      text-transform: uppercase;
    }   
  }  
  &__item-phone {
    margin-top: 20px;
  }
  &__item-mail {
    margin-bottom: 0;
  } 
  &__item-form {
    width: 300px;    
  }
  &__item-text {
    margin-bottom: 40px;
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 35px;
  }
  &__bottom-list {
    display: flex;
    gap: 30px;    
  }
  &__bottom-border {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      top: 4px;
      right: -15px;
      width: 1px;
      height: 18px;
      background-color: #fff;      
    }
    &:nth-child(4)::after {
      background-color: transparent;
    }
    
  }
}
.footer__list {
  &-item {
    padding-bottom: 20px;
    &:last-child {
      padding-bottom: 0;
    }
  }
}
.footer-form {
  position: relative;
  &__input {
    color: $default;
    @extend %raleway-500;
    border: none;
    outline: none;
    padding: 12px;
    background-color: #fff;
    &::placeholder {
      color: $default;
      @extend %raleway-700;
    }
  }
  &__btn {
    color: #fff;
    @extend %raleway-700;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 12px;
    background-color: $light-color;
    position: absolute;
    top: 0;
    right: 0;
  }
}
