@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'media';

.header {
  &__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.menu {
  &__list {
    display: flex;
  }
  &__list-item + .menu__list-item {
    margin-left: 30px;
  }
}