@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'media';

.header {
  &__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
  }
}
.menu {
  &__list {
    display: flex;
  }
  &__list-item + .menu__list-item {
    margin-left: 30px;
  }
}
.user-nav {
  display: flex;
  align-items: center;
  &__link {
    position: relative;
  }  
  &__link--search {
    padding: 20px;
    border-radius: 50%;
    background-color: #edf1f4;
    display: flex;
    flex-direction: column;
  } 
  &__num {
    position: absolute;
    top: -7px;
    left: 11px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    @extend %raleway-700;
    font-size: 10px;
    line-height: 18px;
    text-align: center;
  }
  &__link-box {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    width: 175px; 
    height: 50px;
    margin-left: 20px;
    padding: 12px 40px 12px 35px;
    border-radius: 22px; 
    background-color: #fcd7b6; 
    position: relative;
  }
  &__link--line::after {
    content: '';
    position: absolute;
    top: -7px;
    left: 55px;
    width: 1px;
    height: 32px;    
    background-color: rgba(255, 255, 255, .4);
  }
  &__decor {
    padding: 15px;
    border-radius: 50%;
    margin-left: 20px;
    background-color: #a3bbc8;
  }
  
  
}